$colorFondo: rgb(203, 240, 202);
$colorTexto: green;
$colorHeader: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
$colorFooter: linear-gradient(0deg, rgba(253, 187, 45, 1) 0%, rgba(34, 193, 195, 1) 100%);
$colorFace: black;
