footer {
    background: $colorFooter;
       
    .face {
        color: $colorFace;
    }

    .insta {
        color: $colorFace;
    }

    i {
        font-size: 40px;
        align-content: center
    }


    h2 {
        @include fontStyle ($colorFace, 36px, 300);
    }

}

/*tamaño celular*/
@media (max-width: 620px) {
    footer{
        .row{
        display: flex;
        flex-direction: column; 
        }

        iframe {
        display: none;
        }
        h2{
        font-size: 15px;
        }
        i {
        font-size: 20px;
        }
        p{
        font-size: small;
        }
    }
}