.header{
    background: $colorHeader;
    
    img{
        margin-left: 10px;
        width: 25%;
    }
    nav {
        background: $colorHeader;
        
    }
        a:hover{
         background-color: rgb(203, 224, 224);
         
        }

    h1 {
        color: $colorTexto;
        padding: 2 rem;
        padding-top: 10px;
        text-align: center;

               font: {
            family: sans-serif;
            size: 30px;
        }

        li {
            color: $colorTexto;

        }

       }
}

/*tamaño celular*/
@media (max-width: 620px) {
   
   
    .header img{
       width: 30%;
    }

    
    .header h1{
        display: flex;
    flex-direction: row;
        size: 20px;

        
        
    }
}